---
import LandingHeader from '../components/LandingHeader.astro';
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import ModeloX from '../components/ModelX.astro';
---

<Layout title="Tesla el coche de tu sueños">
	
		<LandingHeader />

	<main class="snap-y snap-mandatory  relative w-full h-screen overflow-auto">

		<div class="snap-center">
			<HeroSection />
		</div>
		<div class="snap-center">
			<ModeloX />
		</div>
		<div class="snap-center">
			<HeroSection />
		</div>
		<div class="snap-center">
			<ModeloX />
		</div>
		
	</main>
</Layout>

